#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Navbar links */
#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    margin-right: 20px;
    text-decoration: none;
  }
  #intro {
    padding-top: 50px;
    text-align: center;
    background-image: url(images/introBack.jpg);
    background-size: 100% 550px;
    height: 500px;
  }
  #hello {
    margin-top: 80px;
  }
  #intro h1 {
    font-size: 50px;
    font-family: cursive;
  }
  #intro p {
      font-size: 20px;
  }
  #aboutMe {
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  #aboutMe h1 {
      border-bottom: 2px solid #333;
      padding-top: 0%;
      margin-top: 0;
  }
  #description {
      width: 800px;
      margin: 0 auto;
  }
  #projectHead h1 {
    border-bottom: 2px solid #333;
    padding-top: 0%;
    margin-top: 0;
  }
  #projectHead {
      text-align: center;
      font-size: 20px;
  }
  #container div {
      margin: 10px;
      box-shadow: 2px 2px 2px 2px black;
      border-radius: 4px;
      padding: 5px;
      height: 300px;
      width: 250px;
  }
  .github {
      border-radius: 4px;
      border: 1px solid black;
      box-shadow: 2px 2px 2px 2px black;
      background-color: white;
      font-size: 16px;
      height: 40px;
      width: 120px;
  }
  .github:hover {
      cursor: pointer;
      background-color: antiquewhite;
  }
  #container {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
#container div h4 {
     margin-top: 5px;
}
  #firstP {
      background-color: lightpink;
  }
  #secondP {
      background-color: lightsteelblue;
  }
  #thirdP {
      background-color: lightslategray;
  }
  #fourthP {
      background-color: lightcoral;
  }
  #fifthP {
      background-color: lightgreen;
  }
  #container img {
      box-shadow: 1px 1px 1px 1px black;
  }
  #contact h1 {
    border-bottom: 2px solid #333;
    padding-top: 0%;
    margin-top: 0;
  }
  #contact {
      text-align: center;
      font-size: 20px;
  }
